extends layout


block append content
    script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js", data-main="javascripts/main")
    script#template-game(type="text/template")
        #game
            #header
                #scoreContainer
                    span#score.score
                        <%= score %>
                #tickerContainer
                    #ticker
            #canvas
                #svgContainer

    script#template-multiplayer-game(type="text/template")
        #game
            #header
                #scoreContainer
                    span#score.score
                        <%= score %>
                    span#opponentScore.score
                #tickerContainer
                    #ticker
            #canvas
                #svgContainer

    script#template-results(type="text/template")
        #results
            #score
                <%= current %>
            #highscore
                <% print('highscore ' + highScore); %>
            #scores
                <% _.forEach(scores, function(score) { %>
                li
                    <%= score %>
                <% }); %>
            #go-menu.button
                = 'Go to Menu'
            #start.button
                = 'Play Again'

    script#template-multiplayer-results(type="text/template")
        #results
            #score
                <% print('You ' + current); %>
            #opponent
                <% print('Opponent ' + opponentScore); %>
            #go-menu.button
                = 'Go to Menu'
            #start.button
                = 'Play Again'

    script#template-menu(type="text/template")
        #menu
            fieldset#gameType
                label(for='game-type-moves')
                    = 'Moves'
                <% if (type === 'moves'){ %>
                input(type="radio", name="game-type", id="game-type-moves", value="moves", checked)
                <% } else {%>
                input(type="radio", name="game-type", id="game-type-moves", value="moves")
                <% } %>
                label(for='game-type-timed')
                    = 'Timed'
                <% if (type === 'timed'){ %>
                input(type="radio", name="game-type", id="game-type-timed", value="timed", checked)
                <% } else { %>
                input(type="radio", name="game-type", id="game-type-timed", value="timed")
                <% } %>
            label(for='play-immediate')
                ="Play immediately(skip menu on load)"
            <% if (playImmediate){ %>
            input(type='checkbox', name='play-immediate', id='play-immediate', checked)
            <% } else { %>
            input(type='checkbox', name='play-immediate', id='play-immediate')
            <% } %>
            #start.button
                = "Start"
            #multiplayer.button
                = 'Multiplayer'

    script#template-multiplayer-menu(type="text/template")
        input#lobbyInput
        #createButton.button
            = 'Create Game'
        #joinButton.button
            = 'Join Game'
        #goMenu.button

    script#template-readyup(type="text/template")
        #readyButton.button
            = 'Ready up!'

    #container
        #content
