doctype 5
html
  head
    title='Dots'
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet' type='text/css')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')

  body
    block content