html, body {
    height: 100%;
    width: 100%;
}
body {
    font: 14px 'Roboto',sans-serif;
    background-color: #EEE;
    margin: 0;
}

a {
    color: #00B7FF;
}

#container {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

/* default buttons */
.button {
    padding: 10px;
    width: 100%;
    background-color: #FFF;
}

/* Game styles */
#header {
    margin: 0 auto;
    font-size: 32px;
    color: grey;
    text-align: center;
}
#scoreContainer, #tickerContainer {
    width: 50%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#scoreContainer {
    padding-right: 5px;
    background-color: #FFF;
}
#tickerContainer {
    padding-left: 5px;
    background-color: #FFF;
}
.score {
    margin-left: 20px;
    margin-right: 20px;
}
#opponentScore {
    color: red;
}
#canvas {
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
}
#svgContainer {
    background-color: #FFF;
    text-align: center;
}
svg {
    position: static !important;
}

/* Menu Styles */
#menu {
    text-align: center;
    font-size: 32px;
}

#menu #gameType {
    font-size: 16px;
    border: none;
}
#menu label {
    font-size: 16px;
}

/* Results Styles */
#results {
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
}

#results #score {
    padding: 10px;
    background-color: red;
}
